<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="/js/home.js" defer></script>
</head>
<body>
<div class="container">
    <div class="profile">
        <div class="profile-info">
            <div>
                <img class="profile-img" src="/images/profile.png">
            </div>
            <div class="userInfo">
                <div id="userInfo-top"></div>
                <div id="userInfo-bottom"></div>
            </div>
        </div>
        <div>
            <div class="update-btn">프로필 수정</div>
        </div>
    </div>
    <div>
        <div class="plan-title">여행 일정</div>
    </div>
    <div class="plan-body">
        <div id="default-main">아직 작성한 여행 일정이 없어요.</div>
        <div id="default-sub">여행 일정을 작성해보세요!</div>
    </div>
    <div class="plan-btn">
        일정 작성
    </div>
</div>
</body>
</html>
